*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Mukta',sans-serif;
    height: 100vh;
    
}

p{
    font-size: 30px;
}

div{
    height: 100vh;
}

section{
    height: 100vh;
}


a{
    text-decoration: none;
    color: black;
    transition: 400ms all ease-in-out;
    font-size: 22px;

    display: block;
    padding: 20px;
    position: relative;
    
}


nav{
    height: 10vh;
    width: 100vw;
    position: fixed;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section{
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
    background-repeat: no-repeat;

}

body nav a::after{
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 10%;
    width: 0;
    background-color: black;
    height: 0.2rem;
    transition: all 400ms ease-in-out;
}

body nav a:hover::after{
    width: 50%;
    left: 25%;
}









