*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
}

p{
    font-size: 30px;
}

div{
    height: 100vh;
}

div.one{
    background: red;
}

div.two{
    background-color: aqua;

}

div.three{
    background-color: blueviolet;
}

a{
    text-decoration: none;
    color: white;
    transition: 400ms all ease-in-out;
    margin-left: 10px;
    font-size: 22px;
    
}

a:hover{
    background-color: black;
}

nav{
    height: 4vh;
    width: 100vw;
    position: fixed;
    background-color: rgba(71, 70, 70, 0.825);
    display: flex;
    justify-content: center;
    align-items: center;
}





